{% extends 'layout.html' %}
{% block content %}
  <div class="container">
    {% if posts %}
      {% for post in posts %}
        <div class="row box p-3 bg-primary my-2 text-white">
          <div class="col-sm-8">
            <h1><a href="{{url_for('posts.single_post', post_id=post.id)}}" class="text-white">
              {{ post.title }}
            </a>
            </h1>
            <h3>{{post.subtitle}}</h3>
            <p>{{ post.author.username }}</p>
            <small>{{post.date_posted.strftime('%Y-%m-%d')}}</small>
          </div>
          <div class="col-sm-4">
            <img src="{{ url_for('static', filename='img/profile_pics/'+post.author.image_file) }}">
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p>No posts</p>
    {% endif %}
  </div>
{% endblock content %}