{% extends 'layout.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-8 box p-3 bg-primary my-2 text-white">
        <h1>{{ post.title }}</h1>
        <h3>{{post.subtitle}}</h3>
        <p>{{ post.author.username }}</p>
        <small>{{post.date_posted.strftime('%Y-%m-%d')}}</small>
        <p>{{ post.content }}</p>
      </div>
      <div class="col-sm-4 p-3 my-2">
        <div class="row mx-auto justify-content-center">
          <img src="{{ url_for('static', filename='img/profile_pics/'+post.author.image_file) }}">
        </div>
        {% if post.author == current_user %}
          <div class="row mx-auto justify-content-center">
            <a class="btn btn-secondary m-1" href="{{url_for('posts.edit_post', post_id=post.id)}}">Edit</a>
            <button type="button" class="btn btn-danger m-1" data-toggle='modal' data-target="#deleteModal">Delete</button>
          </div>
        {% else %}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- MODAL -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this post ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <form action="{{url_for('posts.delete_post', post_id=post.id)}}" method="POST">
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}